{% extends "photoalbum/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <label class="border-bottom mb-4">Usuń zdjęcie ?</label>
                <h2>Czy jesteś pewień że chcesz usunąć zdjęcie ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Tak</button>
                <a class="btn btn-outline-secondary" href="{% url 'photo-detail' photo.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}